# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [38]:
# Your code goes here

import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

df_uno = pd.read_csv(url)

url_2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df_dos = pd.read_csv(url_2)

url_3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df_tres = pd.read_csv(url_3)

In [39]:
df_uno.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [40]:
df_dos.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [41]:
df_tres.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [51]:
df_total = pd.concat([df_uno, df_dos, df_tres], axis=0, join="outer")
df_total.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

In [52]:
df_total.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State',
       'Gender'],
      dtype='object')

In [53]:
df_total.drop(["State", "Gender"],axis=1,inplace=True)
df_total.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [54]:
df_total.columns = df_total.columns.str.lower().str.replace(" ", "_")
df_total.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [55]:
df_total.rename(columns={"st": "state"}, inplace=True)
df_total.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [56]:
df_total.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [47]:
df_total["gender"].value_counts()

gender
F         984
M         874
Male       40
female     30
Femal      17
Name: count, dtype: int64

In [48]:
def change_gender(gender):
    if gender == "Male":
        return str("M")
    elif gender == "female" or gender == "Femal":
        return str("F")
    else:
        return gender

In [49]:
df_total["gender"] = df_total["gender"].apply(change_gender)

In [50]:
df_total["gender"].value_counts()

gender
F    1031
M     914
Name: count, dtype: int64

In [57]:
df_total["customer_lifetime_value"] = df_total["customer_lifetime_value"].str.replace('%', '')
df_total.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [58]:
df_total["vehicle_class"].value_counts()

vehicle_class
Four-Door Car    4641
Two-Door Car     1896
SUV              1774
Sports Car        483
Luxury SUV        182
Luxury Car        161
Name: count, dtype: int64

In [59]:
def class_car (vehicle_class):
    if vehicle_class == str("Sports Car") or vehicle_class == str("Luxury SUV") or vehicle_class == str("Luxury Car"):
        return "Luxury"
    else:
        return vehicle_class

df_total["vehicle_class"] = df_total["vehicle_class"].apply(class_car)

In [60]:
df_total["vehicle_class"].value_counts()

vehicle_class
Four-Door Car    4641
Two-Door Car     1896
SUV              1774
Luxury            826
Name: count, dtype: int64

In [61]:
df_total["number_of_open_complaints"] = df_total["number_of_open_complaints"].str.split("/").str[1]

In [63]:
df_total['number_of_open_complaints'] = pd.to_numeric(df_total['number_of_open_complaints'])
df_total["number_of_open_complaints"].value_counts()

number_of_open_complaints
0.0    1626
1.0     247
2.0      93
3.0      60
4.0      29
5.0      12
Name: count, dtype: int64

In [64]:
df_total.isnull().sum()

customer                      2937
state                        10007
gender                       10129
education                     2937
customer_lifetime_value      10014
income                        2937
monthly_premium_auto          2937
number_of_open_complaints    10007
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [65]:
df_total.describe()

,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,9137.000000,9137.000000,2067.000000,9137.000000
mean,37828.820291,110.391266,0.381713,430.527140
std,30358.716159,581.376032,0.886007,289.582968
min,0.000000,61.000000,0.000000,0.099007
25%,0.000000,68.000000,0.000000,266.996814
50%,34244.000000,83.000000,0.000000,377.561463
75%,62447.000000,109.000000,0.000000,546.420009
max,99981.000000,35354.000000,5.000000,2893.239678

In [66]:
df_total.describe(include="object")

,customer,state,gender,education,customer_lifetime_value,policy_type,vehicle_class
count,9137,2067,1945,9137,2060,9137,9137
unique,9056,8,5,6,1923,3,4
top,EE99484,Oregon,F,Bachelor,552821.28,Personal Auto,Four-Door Car
freq,2,623,984,2719,5,6792,4641

In [69]:
mean_income = df_total["income"].mean()

df_total["income"] = df_total["income"].fillna(mean_income)

mean_mpauto = df_total["monthly_premium_auto"].mean()

df_total["monthly_premium_auto"] = df_total["monthly_premium_auto"].fillna(mean_income)

In [70]:
df_total.isnull().sum()

customer                      2937
state                        10007
gender                       10129
education                     2937
customer_lifetime_value      10014
income                           0
monthly_premium_auto             0
number_of_open_complaints    10007
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [71]:
df_total.dropna(inplace=True)

In [72]:
df_total.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [73]:
df_total.duplicated().sum()

np.int64(3)

In [74]:
df_total.duplicated().any()

np.True_

In [75]:
df_total.drop_duplicates(inplace=True)

In [76]:
df_total.reset_index(drop=True, inplace=True)

In [77]:
df_total.duplicated().sum()

np.int64(0)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [78]:
# Your code goes here

import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

df_data = pd.read_csv(url)

In [79]:
df_data.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [80]:
df_data.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [84]:
pivot_df = df_data.pivot_table(index= "sales_channel", values="income", aggfunc="sum").round(2)

In [ ]:
pivot_df
#podemos decir que los mayores ingresos fueron a traves de los agentes de venta.

                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [ ]:
pivot_customer = df_data.pivot_table(index= "gender", columns="education", values="customer_lifetime_value", aggfunc="mean")

In [89]:
pivot_customer
#podemos afirmar que el CLV mayor corresponde al fememino que hizo high school.

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,7874.269478,7748.823325,7328.508916,8675.220201,8157.053154
M,7703.601675,8052.459288,7415.333638,8149.687783,8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [92]:
# Your code goes here

pivot_claim = df_data.pivot_table(index= "policy_type", columns="effective_to_date", values="number_of_open_complaints", aggfunc="sum")

In [93]:
pivot_claim

effective_to_date,2011-01-01,2011-01-02,2011-01-03,2011-01-04,2011-01-05,2011-01-06,2011-01-07,2011-01-08,2011-01-09,2011-01-10,...,2011-02-19,2011-02-20,2011-02-21,2011-02-22,2011-02-23,2011-02-24,2011-02-25,2011-02-26,2011-02-27,2011-02-28
policy_type,,,,,,,,,,,,,,,,,,,,,
Corporate Auto,19.384256,11.768512,20.537024,14.768512,14.000000,2.384256,14.152768,9.152768,15.152768,30.689793,...,29.384256,17.384256,17.768512,15.768512,8.305537,7.152768,6.152768,31.768512,23.768512,21.384256
Personal Auto,40.689793,43.458305,64.074049,33.768512,33.458305,40.768512,65.921281,51.689793,58.763842,75.689793,...,75.458305,34.305537,59.074049,65.074049,29.689793,30.074049,48.148098,60.689793,70.458305,41.226817
Special Auto,1.000000,0.000000,1.000000,0.000000,2.000000,3.000000,1.768512,2.000000,7.000000,3.000000,...,26.000000,6.000000,10.000000,4.384256,1.000000,13.000000,0.000000,1.000000,4.000000,2.000000